.config/Code
.config/Ledger Live
.config/autostart
.config/calibre
.config/cni/net.d
.config/dconf
.config/evolution/sources
.config/gnome-boxes/sources
.config/goa-1.0
.config/htop
.config/ibus/bus
.config/lazygit
.config/libreoffice/4
.config/libvirt/storage
.config/nautilus
.config/pcloud
.config/pulse
.config/systemd/user/default.target.wants
.config/totem
.config/.gsd-keyboard.settings-ported
.config/QtProject.conf
.config/GNOME-xdg-terminals.list
.config/dleyna-renderer-service.conf
.config/gnome-initial-setup-done
.config/mimeapps.list
.config/gtk-3.0
.config/evince
.config/eog
.config/toolbox
